
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}


.login-form {
 
    padding: 20px 10px;
    
}
.login-form input:focus{
    border: 1px solid #FF4B2B ;
    
}
.login-form input{
    margin: 10px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}
.login{
    font-style: italic;
    color: var(--primary-color);

}
button{
    margin-bottom: 10px;
}