ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 0px;
  
}
li{
  font-size: 18px;
  list-style: none;
  color: rgb(0, 0, 0);
}
nav{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
   position: fixed;    
  top: 0;                
  left: 0;               
  width: 100%; 
  z-index: 1000;
  padding: 10px;
  
}
a{
  color:var(--light-color) ;
  text-decoration: none;
}
.logo{
 width: 150px;
margin-right: 500px;
}

nav a {
  padding: 10px 20px;
  transition: 0.3s;
}
nav a:hover {
  color: #ff4c24;
}
